<!DOCTYPE html>
<html lang="ja">

<head>
  <title>OpenAI Quickstart</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ url_for('static', filename='dog.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>画像生成</h3>
  <form action="/" method="post">
    <input type="text" name="animal" placeholder="作りたい画像の名前を入れてください" required />
    <input type="submit" value="生成" />
  </form>
  {% if result %}
  <img {{ result }} />
  {% endif %}
</body>

</html>
