{% extends "layout.html" %}

{% block content %}
  <a href="/">
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  </a>
  <h3>画像生成</h3>
  <form action="/variation" method="post">
    <input type="text" name="animal" placeholder="修正したい画像のテキストをいれてください" required />
    <input type="submit" value="修正" />
  </form>
  {% if result %}
  <div class="row pb-3 flex no-gutters">
  <table class="col-12 p-1 flex row">
    <div class="card">
      <div class="card-body">
  <img method="get" src={{ result }} />
      </div>
    </div>
  </table>
</div>
  {% endif %}
  <form action="/edit" method="post">
    <input type="submit" value="編集" />
  </form>
{% endblock %}
